@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

.main-div-navbar {
    background-color: white;
    font-family: 'Saira Semi Condensed', sans-serif;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-heading {
    font-weight: 300;
    font-size: 1.75em;
    padding-left: 30px;
}

span.skew:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.nav-link:hover{
    color: white;
}

.nav-list-item {
    color: linear-gradient(135deg, #71b7e6, #9b59b6);
    font-weight: 300px;
}

span.gradient {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    padding: 0 1em;
    position: relative;
    right: 1em;
    margin-right: auto;
}

.skew {
    transform: skew(-20deg);
    width: 100%;
}

.unskew {
    transform: skew(20deg);
}